<div class="products jas-row">
  <div class="jas-col-md-4 jas-col-sm-4 jas-col-xs-6 mt__30 post-682 product type-product status-publish has-post-thumbnail product_cat-new-pieces product_cat-sweaters-cardigans first instock shipping-taxable purchasable product-type-variable has-default-attributes has-children" *ngFor="let product of products">
    <div class="product-inner pr">
        <div class="product-image pr">
            <div class="yith-wcwl-add-to-wishlist ts__03 mg__0 pa add-to-wishlist-682">
                <div class="yith-wcwl-add-button show"><a href="http://maisonshop.ru/wishlist/" data-product-id="682" data-product-type="variable" class="add_to_wishlist cw"><i class="fa fa-heart-o"></i></a><i class="fa fa-spinner fa-pulse ajax-loading pa" style="visibility:hidden"></i>
                </div>
                <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;"><a class="chp" href="http://maisonshop.ru/wishlist/"><i class="fa fa-heart"></i></a>
                </div>
                <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none"><a href="http://maisonshop.ru/wishlist/" class="chp"><i class="fa fa-heart"></i></a>
                </div>
            </div>
            <a class="db" routerLink="/detail/{{product._id}}"><img width="500" height="600" src="{{product.image}}" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" sizes="(max-width: 500px) 100vw, 500px" src="{{product.image}}"/>
            </a>
            <div class="product-btn pa flex column ts__03">
                <a class="btn-quickview cd br__40 pl__25 pr__25 bgw tc dib" href="javascript:void(0);" data-prod="682">Quick View</a>
            </div>

        </div>
        <!-- .product-image -->
        <div class="product-info mt__15">
            <p id="product-subtitle-682" class="product-subtitle subtitle-682">{{product.name}}</p>
            <h3 class="product-title pr fs__14 mg__0 fwm"><a class="cd chp" href="http://maisonshop.ru/shop/slim-fit-grey-sweater/">{{product.des}}</a></h3>
            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>{{product.price}}</span>
            </span>
        </div>
        <!-- .product-info -->
    </div>
    <!-- .product-inner -->
  </div>
</div>